-if @page.slug != 'mobile-app'
  .container.page-parent
    %span=@page

.container-fluid.mt-1
  -@page.children.each_with_index do |child, index|
    -num = app_link_offset(index)
    .row-fluid
      %div{:class => "span#{12 - num} offset#{num}"}
        =link_to(child, mobile_page_path(child.id), :class => 'page-link', :style => "background-color:#{child.app_link_color};")