-parent = (@page.children.present? ? @page : @page.parent)
-if parent && parent.slug != 'mobile-app'
  .container.page-parent{:style => app_header_image_style}
    =link_to(parent, mobile_page_path(parent.id))
    
-if @page.children.present?
  .container-fluid
    -@page.children.each do |child|
      .row-fluid
        .span10.offset2
          =link_to(child, mobile_page_path(child.id), :class => 'page-link')
-else
  .container-fluid
    .row-fluid
      %h1=@page.title
      -if @page.parent.try(:slug) == "news"
        %p=@page.created_at.strftime("%e %B %Y")
      -if @page.image
        =image_for_with_retina(@page, "288x", :class => "mb-1")
      =raw(@page.text)