-if @page.children.present? && @page.slug != 'mobile-app'
  .container.page-parent
    %span=@page
-elsif parent = @page.parent
  .container.page-parent{:style => app_header_image_style}
    =link_to(parent, mobile_page_path(parent.id), :style => "background-color:#{parent.app_link_color};")
    
-if @page.children.present?
  .container-fluid.mt-1
    -@page.children.each_with_index do |child, index|
      -num = app_link_offset(index)
      .row-fluid
        %div{:class => "span#{12 - num} offset#{num}"}
          =link_to(child, mobile_page_path(child.id), :class => 'page-link', :style => "background-color:#{child.app_link_color};")
-else
  .container-fluid
    .row-fluid
      .span12
        %h1=@page.title
        -if @page.parent.try(:slug) == "news"
          %p=@page.created_at.strftime("%e %B %Y")
        -if @page.image
          =image_for_with_retina(@page, "288x", :class => "mb-1")
        =raw(@page.text)
    .row-fluid.mt-1
      .span12
        .share-links
          =link_to("#", :class => "btn span12 mb-1") do
            %i.icon-share
            Share this
          =link_to("#", :class => "btn span12") do
            %i.icon-star
            Add to favourites