=form.inputs do
  -if current_user.try(:yoomee_staff?)  
    =form.input :latitude
    =form.input :longitude
  =form.input :app_color, :label => 'Link colour for child pages', :input_html => {:placeholder => "e.g. #3DA1A1"}
  .radio.control-group.optional
    %label.control-label Background image
    .choices.controls
      -[*(1..15)].each do |num|
        %label.choice.radio
          =form.radio_button :app_background, num, :id => ""
          =image_tag(Page::app_background_image_url(num), :width => 100)
  .clearfix
  =form.input :header_image, :as => :image