.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid.center
      .row-fluid
        .span2
          %ul.nav
            %li
              -if @page && (@page_title != @page.title)
                =link_to :back, :class => "back-link" do
                  %icon.icon-circle-arrow-left
              -else
                %br
        .span8.center
          =link_to(@page_title.titleize, '#', :class => 'brand')
        .span2
          %ul.nav
            %li
              =link_to("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, request.url)