.container
  .row-fluid    
    -@page.children.order('position').each_with_index do |child, index|
      .span6
        =link_to(child, :class=>"menu-item-link") do
          .menu-item-image-wrap
          =image_tag(child.app_header_image_url, :class=>"menu-item-image")
          %span.page-link{:style => "background-color:#{child.app_link_color};"}
            =child
    .span8
      =options_panel do
        =link_if_can("Edit page", [:edit, @page])
        =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
        =link_if_can("New page", [:new, Page])
