.container
  -unless @page.slug == "mobile-app"
    .row-fluid
      .list-page-title
        %h1.page-title=@page.title
  -@page.children.order('position').each_slice(2) do |pages|
    .row-fluid.page-menu
      -pages.each do |child|
        .span6
          =link_to(child, :class=>"menu-item-link") do
            .menu-item-image-wrap
              -if @page.slug == "mobile-app" && child.children.first.header_image
                =image_for(child.children.first, "660x", :method => "header_image", :class=>"menu-item-image")
              -elsif child.header_image.nil? && @page.slug == "universities"
                =image_for(child.parent, "660x", :method => "header_image", :class=>"menu-item-image")
              -elsif child.header_image
                =image_for(child, "660x", :method => "header_image", :class=>"menu-item-image")
            %span.page-link{:style => "background-color:#{child.app_link_color};"}
              =child
  .row-fluid            
    .span8
      =options_panel do
        =link_if_can("Edit page", [:edit, @page])
        =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
        =link_if_can("New page", [:new, Page])
