=content_for(:head) do
  :javascript
    $(document).ready(function() {
      YmCms.Page.Form.init();  
    });
      
=semantic_form_for(@page, :multipart => true) do |form|
  =tabs('details', 'app_stuff', :form => form)

  =form.buttons do
    =form.commit_button "Save"