-content_for :head do
  :javascript
    $(document).ready(function() {
      $('a[data-toggle="tab"]').on('show', function (e) {
        var iframe = $('' + $(e.target).attr('href') + ' iframe');
        var src = iframe.attr('src');
        if (src !== iframe.contents().get(0).location.pathname){
          iframe.attr('src',src);
        }
      });  
    });
.span12.center
  #simulator
    .tab-content
      #home.tab-pane.active
        %iframe{:src => mobile_page_path(Page.find_by_slug('mobile-app').try(:id)), :width => 320, :height => 411, :frameborder => 0}
      -if false  
        #info.tab-pane
          %iframe{:src => mobile_page_path(2), :width => 320, :height => 411, :frameborder => 0}
        #photos.tab-pane.active
          %iframe{:src => mobile_pages_path, :width => 320, :height => 411, :frameborder => 0}
        #map.tab-pane
          %iframe{:src => mobile_pages_path, :width => 320, :height => 411, :frameborder => 0}
        #favourites.tab-pane
          %iframe{:src => mobile_pages_path, :width => 320, :height => 411, :frameborder => 0}
      
    %ul#tab-bar.unstyled
      %li.active=link_to("Home", '#home', :'data-toggle' => 'tab')
      %li=link_to("Info", '#info', :'data-toggle' => 'tab')
      %li=link_to("Photos", '#photos', :'data-toggle' => 'tab')
      %li=link_to("Map", '#map', :'data-toggle' => 'tab')
      %li=link_to("Favourites", '#favourites', :'data-toggle' => 'tab')