.row
  .span12
    %h1 Photos
    
.row.mt-2
  .span12
    -@photos.each_slice(4) do |photos|
      .row.mb-2
        -photos.each do |photo|
          .span3
            =link_to(image_for(photo, "270x"), photo)
            -if photo.caption.present?
              %p.mt-1=photo.caption
          
-if can?(:new, Photo)
  .row
    .span12
      =options_panel do
        =link_to("+ Add a photo", new_photo_path, :class => "btn")