/* @override 
	http://localhost:3000/assets/application.css?body=1
*/

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *=# require bootstrap-responsive
 *= require ym_core
 *= require font-awesome
 *= require_self
*/

/*========== Bootstrap extensions ==========*/

[class*="span"] img{
  width:90%;
}
.span12 img{
  width:100%;
}
.radio {
  padding-left: 0;
}
.radio .choices {
  padding-left: 28px;
}
dl dd {
  font-weight: normal;
}
.dl-horizontal dt {
  width: 150px;
}
.dl-horizontal dd {
  margin-left: 160px;
}
.underline {
  text-decoration: underline;
}
.tooltip-inner {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  border-radius:0;
}
.btn-group.open {

}
ul.dropdown-menu.pull-right {
  left: 0px;
  top: 26px;
  right: auto;
}


/*========== CSS3 magic ==========*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade_in {
    -webkit-animation-name: reset, fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
 
.fade_in.fade_one {-webkit-animation-delay: 0, 0;}
.fade_in.fade_two {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six {-webkit-animation-delay: 0, 1.5s;}


/*========== Font ==========*/

h1,
h2,
h3,
h4,
h5,
h6,
 b, {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
body, p,
div, input {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

/*========== Structure ==========*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  color: #000;
  padding: 0;
  width:100%;  
}
h1 {
  margin: 15px 0 15px;
}
.container {
  clear: both;
  position: relative;  
}
.container-fluid {
  padding:0 5%;
  width:90%;
  overflow:hidden;
}
#main-wrapper {
  height: 411px;
  overflow-y: auto;
}
.page-show #main-wrapper {
  padding-bottom: 20px;
}
.center {
  text-align: center;
}
.nocase {
  text-transform: none;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}

/*========== Tab bar ==========*/

#tab-bar {
  height:49px;
  background: url('/assets/tab-bar.png') no-repeat;
}
#tab-bar li {
  height:49px;
  width:64px;
  float:left;
}
#tab-bar li a {
  height:100%;
  width:100%;
  text-indent: -9999em;
  float:left;
}
#tab-bar li.active {
  background-image: url('/assets/tab-bar-active.png');
  background-repeat:no-repeat;
}
#tab-bar li.home { background-position: 0px 0px;}
#tab-bar li.info { background-position: -64px 0px;}
#tab-bar li.photos { background-position: -128px 0px;}
#tab-bar li.map { background-position: -192px 0px;}
#tab-bar li.favourites { background-position: -256px 0px;}

/*========== Pages ==========*/

h1,
a.page-link,
.page-parent,
.share-links a {
  font-size: 21px;
}
.page-list .page-parent {
  background: gray;
  background: rgba(0,0,0,0.4);
}
.page-list .page-parent span {
  width: 100%;
  text-align: center;
  float: left;
  padding: 20px 0;
  color: white;
  opacity: 1;
}
.page-link,
.page-show .page-parent a {
  padding: 10px 15px;
  color: white;
  background-color: #3DA1A1;
}
.page-list .page-link {
  float: left;
  margin: 10px 0;  
	-moz-box-shadow:2px 2px 10px rgba(0,0,0,0.5), 0px 0px 8px rgba(0,0,0,0.1);
  -webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.5), 0px 0px 8px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.1)  
}
.page-show .page-parent {
  height: 110px;
}
.page-show .page-parent a {
  float: right;
}
.page-parent a:hover,
a.page-link:hover {
  text-decoration: none;
  color: white;
}
.share-links a {
  padding-top: 10px;
  padding-bottom: 10px;
}