.container
  .row-fluid
    .footer  
      .span8
        %ul.unstyled
          %li
            &copy; 2012-2013
            Yorkshire Universities
          -if logged_in?
            %li
              =link_to(t(:logout),sign_out_path, :method => :delete)          
            -if can?(:index, Page)
              %li
                =link_to("Sitemap", pages_path)          
          -else
            %li=link_to("Login", sign_in_path, :class=>"user-link")
      .span4
        =link_to("Site by Yoomee", "http://www.yoomee.com", :id => "siteby", :target=>"_blank", :class => 'pull-right')
      .clearfix