.container
  .navbar
    .navbar-inner
      =link_to(Settings.site_name, root_path, :class => "brand")
      %ul.nav
        %li{:class => "#{current_page?(root_path) ? 'active' : ''}"}
          =link_to("Home", root_path)
      %ul.nav.pull-right
        -if logged_in?
          %li.dropdown
            =link_to("#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}) do
              %i.icon-user
              =current_user
              %b.caret
            %ul.dropdown-menu
              %li
                =link_to("View profile", current_user)
              %li
                =link_to("Sitemap", pages_path)
              %li
                =link_to(sign_out_path, :method => :delete) do
                  %i.icon-signout
                  =t(:logout)
        -else
          %li
            =link_to("Login", sign_in_path)