#header
  .container
    .row-fluid
      .span12.header-inner
        %h1#logo
          =link_to "Study at Universities in Yorkshire, UK", "/"
        =link_to "#", :class=>"app-store-link" do
          %i.icon-mobile-phone
          %span.available-on
            Available on the
          %span.the-app-store
            App Store
        %ul#user-links.unstyled
          -if logged_in?
            %li
              =link_to(sign_out_path, :method => :delete) do
                %i.icon-signout
                =t(:logout)          
            -if can?(:index, Page)
              %li
                =link_to("Sitemap", pages_path)
            %li
              =link_to("#", :class => "user-link") do
                %i.icon-user
                =current_user                

          -else
            %li=link_to("Login", sign_in_path, :class=>"user-link")    
        .clearfix      

    .row-fluid
      .main-nav.span12            
        %ul#nav.unstyled
          //%li.home{:class => "#{active=='home' ? 'active' : ''}"}=link_to("Home", mobile_slug_path('app-welcome'))
          %li.info{:class => "#{active=='info' ? 'active' : ''}"}
            =link_to root_path, :class=>"nav-item nav-item-home" do
              %i.icon-home
              %span
                Home                
          %li.photos{:class => "#{active=='photos' ? 'active' : ''}"}
            =link_to photos_path, :class=>"nav-item nav-item-photos" do
              %i.icon-picture
              %span
                Photos        
          %li.map{:class => "#{active=='map' ? 'active' : ''}"}
            =link_to "#", :class=>"nav-item nav-item-map" do
              %i.icon-map-marker
              %span
                Map
        .clearfix         

