#header
  .container
    .row
      %h1#logo
        =link_to "Study at Universities in Yorkshire, UK", "/"
      %ul#nav.unstyled
        //%li.home{:class => "#{active=='home' ? 'active' : ''}"}=link_to("Home", mobile_slug_path('app-welcome'))
        %li.info{:class => "#{active=='info' ? 'active' : ''}"}=link_to("Home", root_path)
        %li.photos{:class => "#{active=='photos' ? 'active' : ''}"}=link_to("Photos", photos_path)
        %li.map{:class => "#{active=='map' ? 'active' : ''}"}=link_to("Map", '#')
