!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{ :name => "apple-itunes-app", :content => "app-id=#{Settings.apple_itunes_app_id}" }
    :plain
      <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    =stylesheet_link_tag("application")
    :plain
      <!--[if IE 7]>
        <link href="/assets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
      <![endif]-->
    =javascript_include_tag("application")
    =csrf_meta_tags
    =yield :head
    =google_analytics_js
  -body_tag do
    -if flash.present?
      =yield_with_bootstrap(render_flash)
    =render('layouts/header', :active => active_tab_bar)
    =yield_with_bootstrap(yield)
    .push
    .footer-wrapper
      =render("layouts/footer")